# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Dataset (large folder)
data/

# Temporary files
*.log